* @CodyTolene @rikkuness

/holotapes/AccessTerminal/              @CodyTolene @pip-4111
/holotapes/BattlePip/                   @Theeohn
/holotapes/Blackjack/                   @trekker87 @Theeohn
/holotapes/Bloodworm/                   @CodyTolene
/holotapes/BookIt/                      @Theeohn
/holotapes/Checkers/                    @trekker87
/holotapes/ChemWars/                    @phaldaros
/holotapes/Fanorona/                    @Theeohn
/holotapes/FlappyRoach/                 @JLDenson
/holotapes/HAMCoLEDControl/             @joemto20-tech
/holotapes/HamcoLock/                   @joemto20-tech
/holotapes/KillTeamTracker/             @SethSanchez
/holotapes/MTGLifeCounter/              @tylerjbartlett
/holotapes/Magic8BallPlus/              @Theeohn @joemto20-tech
/holotapes/NukeSweeper/                 @trekker87
/holotapes/PipCalc/                     @tylerjbartlett
/holotapes/PipChess/                    @OrionMissesRust
/holotapes/PipCoIdleFrameworks/         @LlamaYeYe
/holotapes/PipCoStartupSystems/         @LlamaYeYe
/holotapes/PipHID/                      @AidansLab
/holotapes/PipMan/                      @McBeefy34
/holotapes/PipPong/                     @Neiferr
/holotapes/PipTacToe/                   @pip-4111 @JLDenson
/holotapes/PipVideoController/          @OrionMissesRust
/holotapes/PipWordle/                   @amogus-67
/holotapes/Pipquarium/                  @AidansLab
/holotapes/Piptris/                     @CodyTolene
/holotapes/Poker/                       @Theeohn
/holotapes/RADRUNNER/                   @SukeMobile
/holotapes/RadroachRaces/               @Theeohn @CodyTolene
/holotapes/RoachStomp/                  @tylerjbartlett
/holotapes/RobCoEntertainmentTerminal/  @CodyTolene
/holotapes/SignalMatch/                 @Radiomaru7
/holotapes/Solitaire/                   @Theeohn
/holotapes/Sukechi/                     @Theeohn
/holotapes/TheGOAT/                     @Theeohn
/holotapes/VaultTecTimer/               @trekker87
/holotapes/VaultsAndDeathclaws/         @CodyTolene
/holotapes/ZeroEscapeVault9/            @Johnnyjoestar987
